html {
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App{
  text-align: center;
/*  background-image: url(background.jpg) */
}

.App h1{
  margin: 0;
  padding-top: 20px;
}

.gameContainer{
  border: 1px solid black;
  width: 550px;
  height: 465px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 100px;
  justify-content: center;
  background-color: #0086cf;
  z-index: 1;
}

.cell{
  width: 65px;
  height: 65px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #ecececed;
  transition: ease 0.7s;
}

.newGame{
  margin: 10px;
  background-color: #0086cf;
  border: none;
  border-radius: 50%;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 14px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 14px 1px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 14px 1px rgba(0,0,0,0.75);
}

.playerCell-enter{
  opacity: 0;
  transform: translateY(-1000px);
}

.playerCell-enter-active{
  opacity: 1;
  transform: translateY(0);
}
